.heading {
    text-align: center;
    color: white;
    background-color: #323f4b;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    padding: 15px;
}

.bg-container {
    background-image: url('https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/chatbg.png');
}

.send-card {
    background-color: #47a3f3;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    text-align: right;
    margin: 10px;
}

.receive-card {
    background-color: #52606d;
    height: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 10px;
}

.message-text {
    font-family: "Roboto";
    color: #ffffff;
    font-size: 12px;
    padding: 10px;
}