@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.top-card {
    background-color: #fb4e71;
    height: 45vh;
    padding: 5px;
    margin: 5px;
}

.heading {
    color: #ffffff;
    font-family: Roboto;
    font-size: 20px;
    text-align: justify;
}

.para {
    color: #323f4b;
    font-size: 20px;
}

.image {
    text-align: right;
}