.coding-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/codingbg.png");
    height: 100vh;
    background-size: cover;
    padding: 25px;
}

.coding-card {
    border-style: solid;
    background-color: #00000080;
    border-width: 6px;
    border-color: #48ee59;
    padding: 45px;
    color: white;
}