.details-container {

    border-style: solid;

    border-width: 2px;

    width: 350px;
}



.image {

    height: 300px;

    width: 350px;

}



.card-container {

    padding: 10px;

}



.mobile-spec-heading {

    font-family: roboto;

    font-size: 20px;

    font-weight: bold;

    color: #0a1f44;



}



.mobile-unordered-list {

    font-family: roboto;

    font-size: 12px;

    font-weight: bold;

    color: #707070;

}





.button-container {

    text-align: center;

    margin: 10px;

}